|@model PicadoDental.Models.MCliente
@if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Secretaria") | Session["TipoUsuario"].ToString().Equals("Doctor"))
{
    {
        ViewBag.Title = "NewPerson";
    }
    <div class="container body-content green lighten-5">
        <div style="margin-top: 5%" class="row">
            <div class="col s12 card-panel center green darken-3 white-text">
                <span class="card-title" style="font-size: 55px">Nuevo cliente</span>
            </div>
            @using (Html.BeginForm("NewClient", "Client", FormMethod.Post, new { @class = "", @style = "margin-top: 2%;" }))
            {
                <div class="row">
                    <div class="row">
                        <div class="input-field col s3 offset-s1">
                            <i class="material-icons prefix">person</i>
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "validate black-text", @type = "text", placeholder = "Nombre:", required = "required" })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "validate black-text" })
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons prefix">person</i>
                            @Html.TextBoxFor(model => model.PrimerApellido, new { @class = "validate black-text", @type = "text", placeholder = "Primer apellido:", required = "required" })
                            @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "validate black-text" })
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons prefix">person</i>
                            @Html.TextBoxFor(model => model.SegundoApellido, new { @class = "validate black-text", @type = "text", placeholder = "Segundo apellido:", required = "required" })
                            @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "validate black-text" })
                        </div>
                        <div class="input-field col s5 offset-s1">
                            <i class="material-icons prefix">person</i>
                            @Html.TextBoxFor(model => model.Cedula, new { @class = "validate black-text", @type = "text", pattern = "[0-9]{9}", placeholder = "Cédula:", required = "required" })
                            @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "validate black-text" })
                        </div>
                        <div class="input-field input col s4">
                            <i class="material-icons prefix">person</i>
                            @Html.DropDownListFor(model => model.GeneroID, ViewBag.Genero as SelectList, "Seleccione un genero", new { @class = "", required = "required" })
                            @Html.ValidationMessageFor(model => model.GeneroID, "", new { @class = "validate black-text" })
                        </div><div class="input-field col s5 offset-s1">
                            <i class="material-icons prefix">email</i>
                            @Html.TextBoxFor(model => model.Correo, new { @class = "validate black-text", @type = "text", placeholder = "Correo:", required = "required" })
                            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "validate black-text" })
                        </div>
                        <div class="row">
                            <div class="input-field col s4 ">
                                <i class="material-icons prefix">phone</i>
                                @Html.TextBoxFor(model => model.Telefono, new { @class = "validate black-text", @type = "text", pattern = "[0-9]{4}[0-9]{4}", placeholder = "Teléfono:", required = "required" })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "validate black-text" })
                            </div>
                        </div>
                        <div class="center" style="margin-bottom: 5%">
                            <button class="btn waves-effect waves-light green darken-3" type="submit" name="action">
                                Añadir
                                <i class="material-icons right">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>
}
@if (Session["TipoUsuario"] == null || Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Admin"))
{
    Response.Redirect("~/Home/Index");
}
