@model IEnumerable<PicadoDental.Models.MDoctor>

@if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Secretaria"))
{
    {
        ViewBag.Title = "DoctorList";
    }

    <style>
        .clientTableCell > th {
            border-right: solid 1px #2E7D32;
        }

        .clientTableCell > td {
            border-right: solid 1px #2E7D32;
            max-width: 1px;z
        }

            .clientTableCell > td > i {
                cursor: pointer;
            }

        .clientTableCell :last-child {
            border: none;
        }
    </style>
    <div class="container body-content">
        <div class="row" style="margin-top: 5%">
            <div class="card green darken-3 white-text">
                <div class="center">
                    <span class="card-title" style="font-size: 55px">Doctores</span>
                </div>
                <table class="white-text centered responsive-table z-depth-4">
                    <thead class="z-depth-1 green lighten-2">
                        <tr class="doctorTableCell">
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Citas</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody class="green lighten-5 black-text">
                        @if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Secretaria"))
                        {
                            foreach (var p in Model)
                            {
                                <tr class="clientTableCell">
                                    <td>@p.Cedula</td>
                                    <td>@p.Nombre</td>
                                    <td>@p.Apellidos</td>
                                    <td>@p.Telefono</td>
                                    <td>@p.Correo</td>
                                    <td>
                                        <a class="btn-floating  green darken-3">
                                            <i class="material-icons">details</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn-floating  green darken-3">
                                            <i class="material-icons">details</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}
@if (Session["TipoUsuario"] == null || Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("Admin") | Session["TipoUsuario"].ToString().Equals("Doctor"))
{
    Response.Redirect("~/Home/Index");
}
