@if (Session["username"] == null)
{
    <nav>
        <div class="nav-wrapper blue darken-3">
            <a href="#" data-target="menu-responsive" class="brand-logo"></a>
            <a> @Html.ActionLink("Picado Dental Center", "Index", "Home", new { area = "" }, new { @class = "brand-logo center" })</a>
        </div>
    </nav>
}


@if (Session["username"] != null)
{
    <nav>
        <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper">
            <ul id="dropdown-clients" class="dropdown-content">
                <li>@Html.ActionLink("Lista de clientes", "ClientList", "Client")</li>
                <li>@Html.ActionLink("Nuevo cliente", "NewClient", "Client")</li>
            </ul>
            <ul id="dropdown-appointments" class="dropdown-content">
                <li>@Html.ActionLink("Lista de citas", "AppointmentList", "Appointment")</li>
                <li>@Html.ActionLink("Nueva cita", "NewAppointment", "Appointment")</li>
            </ul>
            <div class="nav-wrapper teal">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="teal lighten-1 dropdown-trigger" data-target="dropdown-contactos">Clientes<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="teal lighten-2 dropdown-trigger" data-target="dropdown-tareas">Citas<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li class="teal lighten-4">@Html.ActionLink("Cerrar Sesión", "LogOut", "Authentication")</li>
                </ul>
            </div>
        </div>
    </nav>
    <ul id="dropdown-clients-mov" class="dropdown-content">
        <li class="teal lighten-1">@Html.ActionLink("Lista de clientes", "ClientList", "Client")</li>
        <li class="teal lighten-1">@Html.ActionLink("Nuevo cliente", "NewClient", "Client")</li>
    </ul>
    <ul id="dropdown-appointments-mov" class="dropdown-content">
        <li class="teal lighten-3">@Html.ActionLink("Lista de citas", "AppointmentList", "Appointment")</li>
        <li class="teal lighten-3">@Html.ActionLink("Nueva cita", "NewAppointment", "Appointment")</li>
    </ul>
    <ul class="sidenav white-text teal lighten-5" id="menu-responsive">
        <li><a class="teal lighten-1 dropdown-trigger" href="#!" data-target="dropdown-clients-mov">Clientes<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="teal lighten-3 dropdown-trigger" href="#!" data-target="dropdown-appointments-mov">Citas<i class="material-icons right">arrow_drop_down</i></a></li>
        <li class="teal lighten-4 active">@Html.ActionLink("Cerrar Sesión", "LogOut", "Authentication")</li>
    </ul>
}